:root {
    --primary: #2563EB;
    --bg: #F8FAFC;
    --cards: #FFFFFF;
    --text: #1F2937;
    --footer: #172554;
    --footer-subtext: #BFDBFE;
    --success: #22C55E;
    --error: #EF4444;
    --warning: #F59E0B;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    margin-top: 70px;
    overflow-x: hidden;
    
}

* {
    box-sizing: border-box;
}

nav {
    background-color: var(--cards);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: clamp(50px, 8vw, 70px);
    justify-content: flex-start;
    gap: 0px;
    padding: 0px 20px;
    align-items: center;
    overflow: hidden;
    z-index: 9999;
}

nav a {
    padding: 5px 10px;
    position: relative;
    text-align: center;
    height: clamp(50px, 8vw, 70px);
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: clamp(10px, 1.7vw, 14px);
    color: var(--text);
    transition: all 0.3s ease-in-out;
}

nav a::before {
    position: absolute;
    content: "";
    background-color: var(--primary);
    width: 100%;
    transform: scaleX(0);
    transform-origin: center;
    opacity: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    color: var(--primary);
}

nav a:hover::before{
    transform: scaleX(1);
    height: 3px;
    opacity: 1;
}

nav a.active {
    color: var(--primary);
    font-weight: 600;
}

.heading {
    font-size: clamp(30px, 5vw, 50px);
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 100px;
    text-align: center;
}

.logo {
    position: relative;
    display: inline-block;
    color: transparent;
    background: linear-gradient(120deg, #2563EB, #06B6D4, #9333EA, #06B6D4, #2563EB);
    background-size: 300%;
    background-clip: text;
    animation: shine 4s ease-in-out infinite;
}

.subheading {
    font-size: clamp(14px, 2.6vw, 18px);
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
}

.start-learning {
    display: block;
    margin: 0 auto;
    background: linear-gradient(120deg, #2563EB, #06B6D4, #9333EA);
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    width: fit-content;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    animation: shine 10s ease-in-out infinite;
}

.home-section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px 150px 20px;
    filter: drop-shadow(0px 10px 2px rgba(0, 0, 0, 0.25));
}

.start-learning:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}


.home-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    width: 100%;
    margin: 0px;
    background: linear-gradient(120deg, #2563EB, #06B6D4);
}

.home-section2 .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 0px 20px;
    color: white;
    filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.25));
}

.home-section2 .wrapper .card-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    transform: translateX(-30px);
    opacity: 0;
}


.home-section2 .wrapper .card-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: right;
    transform: translateX(30px);
    opacity: 0;
}

.home-section2 .wrapper div {
    transition: all 0.5s ease-in-out;
}

.home-section2 .wrapper div.visible {
    transform: translateX(0px);
    opacity: 1;
}

.data-packets-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px 50px 20px;
    filter: drop-shadow(0px 10px 2px rgba(0, 0, 0, 0.25));
}

.data-packets-heading {
    font-size: clamp(30px, 5vw, 50px);
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 100px;
    text-align: center;
}

.data-packets-subheading {
    font-size: clamp(12px, 2vw, 17px);
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
}

.illustration {
    margin-bottom: 70px;
}

.illustration .data {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 350px;
}

.illustration .data .wrapper {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    flex-direction: row;
    color: black;
    gap: 0px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    animation: wrapperPackage 10s linear infinite;
}

.illustration .data .wrapper .package-left, .illustration .data .wrapper .package-right {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.package-left {
    transition: all 0.3s ease;
    animation: leftPackage 10s linear infinite;
}

.package-right {
    transition: all 0.3s ease;
    animation: rightPackage 10s linear infinite;
}

.illustration .data .wrapper .box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color: var(--cards);
    transition: all 0.3s ease;
    font-size: clamp(11px, 2.1vw, 14px);
    animation: dataPackets 10s linear infinite;
}

.illustration .data .text {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    margin: 0px;
    z-index: 9;
    transition: all 0.3s ease;
    animation: dataText 10s linear infinite;
}

.routers {
    padding: 0px 10vw;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.routers .router-box {
    height: 70px;
    width: 140px;
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    
}

.router-box {
    position: relative;
}


.router-box#a::after {
    content: "";
    position: absolute;

    left: 100%;
    top: 50%;
    height: 2px;
    width: 126px;
    transform: scale(0);
    transform-origin: left;

    z-index: 9;

    background-color: var(--primary);
    animation: branch 10s linear infinite;
}

.router-box#b::after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 2px;
    width: 126px;
    transform: scale(0);
    transform-origin: right;
    z-index: 9;

    background-color: var(--primary);
    animation: branch 10s linear infinite;
}

footer {
    background-color: var(--footer);
    color: var(--footer-subtext);
    text-align: left;
    padding: 15px 25px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer h2 {
    color: white;
    font-size: clamp(20px, 4vw, 30px);
    font-weight: 600;
    margin-bottom: 10px;
}

footer .footer-line {
    width: 90%;
    height: 1px;
    background-color: var(--footer-subtext);
    margin: 20px 0px;
}

@keyframes shine {
    0% {
        background-position: -100%;
    }
    100% {
        background-position: 200%;
    }
}

@keyframes dataText {
    0%, 15% {
        opacity: 1;
        visibility: visible;
    }

    20%, 100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes dataPackets {
    0%, 15% {
        opacity: 0;
        visibility: hidden;
    }

    20%, 100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes leftPackage {
    0%, 15% {
        border: none;
        margin: 0px;
    }

    20%, 100% {
        border: 1px solid var(--primary);
        border-radius: 10px;
        margin-right: 20px;
    }

    25% {
        transform: translate(0, 0);
    }

    60%, 100% {
        transform: translateX(-28px) translateY(350px);
    }
}

@keyframes rightPackage {
    0%, 15% {
        border: none;
        margin: 0px;
    }

    20%, 100% {
        border: 1px solid var(--primary);
        border-radius: 10px;
        margin-left: 20px;
    }

    25% {
        transform: translate(0, 0);
    }

    60%, 100% {
        transform: translateX(28px) translateY(350px);
    }
}

@keyframes wrapperPackage {
    0%, 15% {
        border: 1px solid var(--primary);
    }

    20%, 100% {
        border: none;
    }
}


@keyframes branch {
    0%, 64% {
        transform: scale(0);
        opacity: 0;
    }

    65% {
        transform: scale(0);
        opacity: 1;
    }

    85%, 100% {
        transform: scale(1);
        opacity: 1;
    }
}