:root {
    --primary: #2563EB;
    --bg: #F8FAFC;
    --cards: #FFFFFF;
    --text: #1F2937;
    --footer: #172554;
    --footer-subtext: #BFDBFE;
    --success: #22C55E;
    --error: #EF4444;
    --warning: #F59E0B;
    --payload: #06B6D4;
    --trailer: #9333EA;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    margin-top: 70px;
    overflow-x: hidden;
    
}

* {
    box-sizing: border-box;
}

nav {
    background-color: var(--cards);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: clamp(50px, 8vw, 70px);
    justify-content: flex-start;
    gap: 0px;
    padding: 0px 20px;
    align-items: center;
    overflow: hidden;
    z-index: 9999;
}

nav a {
    padding: 7px;
    position: relative;
    text-align: center;
    height: clamp(50px, 8vw, 70px);
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: clamp(10px, 1.7vw, 14px);
    color: var(--text);
    transition: all 0.3s ease-in-out;
}

nav a::before {
    position: absolute;
    content: "";
    background-color: var(--primary);
    width: 100%;
    transform: scaleX(0);
    transform-origin: center;
    opacity: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    color: var(--primary);
}

nav a:hover::before{
    transform: scaleX(1);
    height: 3px;
    opacity: 1;
}

nav a.active {
    color: var(--primary);
    font-weight: 600;
}

.heading {
    font-size: clamp(30px, 5vw, 50px);
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 100px;
    text-align: center;
}

.logo {
    position: relative;
    display: inline-block;
    color: transparent;
    background: linear-gradient(120deg, #2563EB, var(--payload), var(--trailer), var(--payload), #2563EB);
    background-size: 300%;
    background-clip: text;
    animation: shine 4s ease-in-out infinite;
}

.subheading {
    font-size: clamp(14px, 2.6vw, 18px);
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
}

.start-learning {
    display: block;
    margin: 0 auto;
    background: linear-gradient(120deg, #2563EB, var(--payload), var(--trailer));
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    width: fit-content;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    animation: shine 10s ease-in-out infinite;
}

.home-section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px 150px 20px;
    filter: drop-shadow(0px 10px 2px rgba(0, 0, 0, 0.25));
}

.start-learning:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}


.home-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    width: 100%;
    margin: 0px;
    background: linear-gradient(120deg, #2563EB, var(--payload));
}

.home-section2 .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 0px 20px;
    color: white;
    filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.25));
}

.home-section2 .wrapper .card-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    transform: translateX(-30px);
    opacity: 0;
}


.home-section2 .wrapper .card-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: right;
    transform: translateX(30px);
    opacity: 0;
}

.home-section2 .title{
    font-size: clamp(20px, 3.3vw, 27px);
}

.home-section2 p {
    font-size: clamp(11px, 2.4vw, 15px);
}

.home-section2 .wrapper div {
    transition: all 0.5s ease-in-out;
}

.home-section2 .wrapper div.visible {
    transform: translateX(0px);
    opacity: 1;
}

.data-packets-hero, .transmission-methods-hero, .error-detection-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px 50px 30px;
    filter: drop-shadow(0px 10px 2px rgba(0, 0, 0, 0.25));
}

.data-packets-heading, .transmission-methods-heading, .error-detection-heading {
    font-size: clamp(30px, 5vw, 50px);
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 100px;
    text-align: center;
}

.data-packets-subheading, .transmission-methods-subheading , .error-detection-subheading{
    font-size: clamp(12px, 2vw, 17px);
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
}

.data-packets-illustration {
    margin-bottom: 70px;
}

.data-packets-illustration .data {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 350px;
}

.data-packets-illustration .data .wrapper {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    flex-direction: row;
    color: black;
    gap: 0px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    animation: wrapperPackage 10s linear infinite;
}

.data-packets-illustration .data .wrapper .package-left, .illustration .data .wrapper .package-right {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.package-left {
    display: flex;
    transition: all 0.3s ease;
    animation: leftPackage 10s linear infinite;
}

.package-right {
    display: flex;
    transition: all 0.3s ease;
    animation: rightPackage 10s linear infinite;
}

.data-packets-illustration .data .wrapper .box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--primary);
    background-color: var(--cards);
    transition: all 0.3s ease;
    font-size: clamp(11px, 2.1vw, 14px);
    animation: dataPackets 10s linear infinite;
}

.data-packets-illustration .data .text {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    margin: 0px;
    z-index: 9;
    transition: all 0.3s ease;
    animation: dataText 10s linear infinite;
}

.routers {
    padding: 0px 10vw;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.routers .wrapper {
    position: relative;
}

.routers .vertical-line {
    position:absolute;
    content: "";
    width: 3px;
    height: 100px;
    background-color: var(--primary);
    display: flex;
    margin-top: 25px;
    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;
    animation: verticalLine 10s linear infinite;
}

.routers .router-box {
    height: 50px;
    width: 100px;
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    
}

.router-box {
    position: relative;
}


.router-box#a::after {
    content: "";
    position: absolute;

    left: 100%;
    top: 50%;
    height: 2px;
    width: 50px;
    transform: scaleX(0);
    transform-origin: left;

    z-index: 9;

    background-color: var(--primary);
    animation: branch 10s linear infinite;
}

.router-box#b::after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 2px;
    width: 50px;
    transform: scaleX(0);
    transform-origin: right;
    z-index: 9;

    background-color: var(--primary);
    animation: branch 10s linear infinite;
}

.user-box {
    display: flex;
    justify-content: center;
    margin: 75px auto 0px auto;
    padding: 10px 15px;
    border: 1px solid var(--primary);
    width: 150px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.user-box p {
    font-weight: bold;
    z-index: 9;
    animation: userText 10s linear infinite;
}

.user-box::before {
    position: absolute;
    content: "";
    display: flex;
    margin: auto;
    background-color: var(--primary);
    width: 200px;
    height: 100px;
    transform: scaleY(0);
    transform-origin: bottom;
    opacity: 0;
    animation: userFill 10s linear infinite;
}

.dp-section1 {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    justify-content: center;
}

.dp-section1 .dp-section1-heading, .dp-section1 .dp-section1-subheading {
    text-align: center;
    margin-top: 50px;
}

.dp-section1 .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 70px;
    width: 100%;
    max-width: 550px;
    margin: 50px auto;
}

.dp-section1 .cards .card {
    padding: 30px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: 270px;
    margin: auto;
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.dp-section1 .cards .card.visible {
    animation: bouncePop 0.4s ease;
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}

.dp-section1 .cards .card .number {
    font-size: (30px, 5vw, 50px);
    margin-bottom: -70px;
}

.dp-section1 .cards .card .heading {
    font-size: clamp(20px, 3.3vw, 27px);
    font-weight: 700;
}

.dp-section1 .cards .card .content {
    font-size: clamp(11px, 2.1vw, 14px);
}

.dp-section2 {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.dp-section2 h1 {
    font-weight: 600;
    font-size: clamp(20px, 3.3vw, 27px);
}

.dp-section2 .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    overflow: hidden;
}

.dp-section2 .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    width: 100%;
}

.dp-section2 .cards .card#title {
    background-color: var(--footer);
    color: var(--footer-subtext);
}

.dp-section2 .cards .card#header {
    background-color: var(--primary);
}

.dp-section2 .cards .card#payload {
    background-color: var(--payload);
}

.dp-section2 .cards .card#trailer {
    background-color: var(--trailer);
}

.dp-section2 .cards .card .wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.dp-section2 .cards .card p {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    margin-top: -15px;
    transition: all 0.3s ease;
}

.dp-section2 .cards .card.clicked p {
    max-height:fit-content;
    opacity: 1;
    margin-top: 0px;
}

.serial-vs-parallel {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.serial-vs-parallel .card .switch {
    display: flex;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 5px;
    gap: 5px;
    height: 50px;
    justify-content: center;
    z-index: 1;
    position: relative;
}

.serial-vs-parallel .card .switch div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    padding: 0px 10px;
    transition: all 0.3s ease;
}

.serial-vs-parallel .card .switch div p {
    z-index: 9;
    pointer-events: none;
}

.serial-vs-parallel .card.serial .switch .serialswitch p {
    color: white;
}


.serial-vs-parallel .card.parallel .parallelswitch p {
    color: white;
}

.serial-vs-parallel .card .switch::before { 
    transition: all 0.3s ease;
}

.serial-vs-parallel .card.serial .switch:before {
    position: absolute;
    content: "";
    background-color: var(--primary);
    border-radius: 5px;
    height: calc(100% - 10px);
    width: 40%;
    margin-left: -53%;
}

.serial-vs-parallel .card.parallel .switch:before {
    position: absolute;
    content: "";
    background-color: var(--primary);
    border-radius: 5px;
    height: calc(100% - 10px);
    width: 50%;
    margin-left: 43%;
}

.serial-vs-parallel .card {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 30px 40px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 90vw;
    min-width: 260px;
    max-width: 700px;
    text-align: center;
}

.serial-vs-parallel .serialtext, .serial-vs-parallel .paralleltext {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.serial-vs-parallel .serialtext {
    opacity: 1;
    visibility: visible;
}

.serial-vs-parallel .serialtext {
    position: absolute;
    top: 160px;
    left: 0;

    opacity: 0;
    visibility: hidden;
    padding: 0px 40px;
}

.serial-vs-parallel .card.serial .serialtext {
    opacity: 1;
    visibility: visible;
}

.serial-vs-parallel .card.serial .paralleltext {
    opacity: 0;
    visibility: hidden;
}

.serial-vs-parallel .card.parallel .serialtext {
    opacity: 0;
    visibility: hidden;
}

.serial-vs-parallel .card.parallel .paralleltext {
    opacity: 1;
    visibility: visible;
}

.serial-vs-parallel .card .serialtext p, .serial-vs-parallel .card .paralleltext p {
    margin-top: 0px;
} 

.serialtext .illustration .wrapper {
    display: flex;
    padding: 20px;
    width: 400px;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
    position: relative;
}

.serialtext .illustration .wrapper .box {
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    align-self: center;
    border: 1px solid black;
    background-color: white;
    left: 60px;
    opacity: 0;
    visibility: hidden;
}

.serialtext .illustration .wrapper .box#b1 {
    animation: box1 5s linear infinite;
}

.serialtext .illustration .wrapper .box#b2 {
    animation: box2 5s linear infinite;
}

.serialtext .illustration .wrapper .box-user {
    width: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border: 1px solid var(--primary);
    border-radius: 10px;
    height: 60px;
}

.serialtext .illustration .wrapper .box-user p {
    margin: 0;
}

.serialtext .illustration .wrapper .line {
    display: block;
    height: 2px;
    width: 200px;
    background-color: var(--primary);
    margin-top: auto;
    margin-bottom: auto;
}

.paralleltext .illustration .wrapper {
    display: flex;
    padding: 20px;
    width: 400px;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
    position: relative;
}

.paralleltext .illustration .wrapper .line {
    display: block;
    height: 2px;
    width: 200px;
    background-color: var(--primary);
}

.paralleltext .illustration .wrapper .line#l1 {
    margin-top: 30px;
}

.paralleltext .illustration .wrapper .line#l2 {
    margin-top: 60px;
}

.paralleltext .illustration .wrapper .line#l3 {
    margin-top: 60px;
}

.paralleltext .illustration .box-user {
    min-width: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border: 1px solid var(--primary);
    border-radius: 10px;
    height: 180px;
}

.paralleltext .illustration .wrapper .box-user p {
    margin: 0;
}

.paralleltext .illustration .wrapper .box {
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    left: 60px;
    opacity: 0;
    visibility: hidden;
}

.paralleltext .box#b1 {
    top: 30px;
}

.paralleltext .box#b2 {
    top: 90px;
}

.paralleltext .box#b3 {
    top: 150px;
}

.paralleltext .box {
    animation: box1 4s linear infinite;
}

.duplex .title {
    width: 90vw;
    min-width: 260px;
    max-width: 850px;
    margin: auto;
    filter: drop-shadow(0px 10px 2px rgba(0, 0, 0, 0.25));
}

h1 {
    font-size: clamp(30px, 5vw, 50px);
}

p {
    font-size: clamp(12px, 2vw, 17px);
}

.duplex .duplex-cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 50px 30px;
}
.duplex .duplex-cards .card{
    background-image: linear-gradient(45deg, var(--payload), var(--trailer));
    color: white;
    max-width: 700px;
    margin: 50px auto;
    opacity: 0;
    visibility: hidden;
}

.duplex .duplex-cards .card.visible {
    opacity: 1;
    visibility: visible;
    animation: bouncePop 0.6s ease;
}

.duplex .duplex-cards .card .number {
    font-size: clamp(30px, 5vw, 50px);
}

.duplex .duplex-cards .card .content {
    font-size: clamp(12px, 2vw, 17px);
}

.usb .title {
    padding: 0px 50px;
}

.usb .illustration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.usb .illustration .line {
    position: relative;
    display: block;
    width: 4px;
    height: 150px;
    background-color: #D1D1D1;
    overflow: hidden;
}

.usb .illustration .line::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 160px;
    margin: auto;
    transform: scaleY(0);
    transform-origin: top;
    background-color: var(--primary);
}

.usb .illustration .line#l1::after {
    animation: usbLine1 5s ease-in infinite;
}

.usb .illustration .line#l2::after {
    animation: usbLine2 5s ease-in infinite;
}
.usb .illustration .box {
    position: relative;
    height: 80px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #D1D1D1;
    border-radius: 10px;
    background: transparent;
}

.usb .illustration .box#b1 {
    animation: usbBox1 5s ease-in infinite;
}

.usb .illustration .box#b2 {
    animation: usbBox2 5s ease-in infinite;
}

.usb .illustration .box#b3 {
    animation: usbBox3 5s ease-in infinite;
}

.usb {
    padding: 50px 30px 100px 30px;
}

.usb .title {
    padding: 0px 20px;
    text-align: center;
}

.usb .illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.usb .illustration .box {
    position: relative;
    width: 180px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: var(--cards);
    color: var(--text);
    border: 2px solid #D1D5DB;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
}

.usb .illustration .box p {
    margin: 0px;
}

.usb .illustration .box .text {
    font-size: clamp(12px, 2vw, 15px);
    font-weight: 600;
}

.usb .illustration .line {
    position: relative;
    width: 4px;
    height: 110px;
    background-color: #D1D5DB;
    overflow: hidden;
}

.usb .illustration .line::after {
    position: absolute;
    content: "";
    top: 0px;
    left: -1px;
    width: 6px;
    height: 100%;
    background-color: var(--primary);
    transform: scaleY(0);
    transform-origin: top;
    border-radius: 5px;
}

.usb-content {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.usb-info {
    position: relative;
    background-color: var(--cards);
    padding: 25px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
}

.usb-info::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: var(--primary);
    border-radius: 20px 20px 0px 0px;
}

.usb-info h2 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: clamp(18px, 2.5vw, 23px);
}

.usb-info p {
    margin: 0px;
    font-size: clamp(12px, 1.8vw, 15px);
    line-height: 1.6;
}

.usb-info .usb-icon {
    color: var(--primary);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.error-overview {
    padding: 0px 30px 150px 30px;
}

.error-overview .title {
    text-align: center;
}

h2 {
    font-size: clamp(19px, 3.3vw, 24px);
}

.error-overview .title p {
    font-size: clamp(12px, 2.7vw, 14px);
}

.error-overview .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 1000px;
    margin: 50px auto 0px auto;
}

.error-overview .cards .card {
    background-color: var(--cards);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.error-overview .cards .card .number {
    color: var(--primary);
    font-size: clamp(30px, 5vw, 45px);
    margin: 0px 0px -5px 0px;
}

.error-overview .cards .card .content h2 {
    font-size: clamp(18px, 3vw, 23px);
    margin: 0px 0px 10px 0px;
}

.error-overview .cards .card .content p {
    font-size: clamp(12px, 2vw, 15px);
    line-height: 1.6;
    margin: 0px;
}

.parity {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parity .title {
    text-align: center;
    padding: 0px 30px;
}

.parity .title p {
    font-size: clamp(12px, 2.7vw, 14px);
}

.parity-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px 40px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 100%;
    max-width: 700px;
    text-align: center;
}

.parity-card h2 {
    font-size: clamp(20px, 3.3vw, 27px);
}

.parity-card .bits {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 20px 0px 5px;
}

.parity-card .bit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
    max-width: 45px;
    height: 8vw;
    max-height: 45px;
    background-color: #E5E7EB;
    border-radius: 8px;
    font-weight: 600;
    font-size: 13px;
}

.parity-card .bit#parity-bit {
    background-color: var(--primary);
    color: white;
}

.parity-card .bit#error-bit {
    animation: parityError 2.5s ease-in-out infinite;
}

.parity-card .label {
    font-size: clamp(11px, 2vw, 14px);
    color: #919191;
    margin-top: 5px;
}

.parity-card .arrow {
    color: var(--primary);
    font-size: 25px;
    height: 40px;
}

.parity-card .arrow p {
    margin: 0px;
}

.parity-card .result {
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #F1F1F1;
    color: var(--error);
}

.parity-card .result p {
    font-weight: 600;
}

.echo-check {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.echo-check .title {
    padding: 0px 30px;
}

.echo-check .title p {
    font-size: clamp(12px, 2.7vw, 14px);
}

.echo-check .illustration {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: 700px;
    height: 250px;
    margin: 30px auto 50px auto;
    overflow: hidden;
}

.echo-check .device {
    width: 15vw;
    max-width: 120px;
    height: 80px;
    border: 2px solid var(--primary);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cards);
    z-index: 4;
    margin: 0px;
    transition: all 0.3s ease;
}

.echo-check .device p {
    margin: 0px;
    font-weight: 600;
    font-size: clamp(9px, 1.3vw, 13px);
}

.echo-check .connection {
    width: 210px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 0px;
}

.echo-check .connection .line {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 3px;
    background-color: #D1D1D1;
}

.echo-check .connection #line1 {
    top: 25px;
}

.echo-check .connection #line2 {
    top: 55px;
}

.echo-check .data-box {
    position: absolute;
    width: 90px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--primary);
    border-radius: 8px;
    background-color: var(--cards);
    z-index: 3;
}

.echo-check .data-box p {
    margin: 0px;
    font-size: 12px;
    font-weight: 600;
}

.echo-check #data1 {
    top: 90px;
    left: 90px;
    animation: echoSend 5s linear infinite;
}

.echo-check #data2 {
    top: 120px;
    right: 90px;
    animation: echoReturn 5s linear infinite;
}

.echo-check .echo-result {
    width: 100%;
    max-width: 600px;
    padding: 25px 30px;
    background-color: var(--cards);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    text-align: center;
}

.echo-check .echo-result h2 {
    margin-top: 0px;
    font-size: clamp(20px, 3.3vw, 27px);
}

.echo-check .comparison {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.echo-check .comparison p {
    margin: 5px 0px;
}

.echo-check .result {
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #F1F1F1;
    color: var(--success);
    margin-bottom: 50px;
}

.echo-check .result p {
    margin: 0px;
    font-weight: 600;
}
.checksum {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.checksum .title {
    padding: 0px 30px;
    max-width: 850px;
}

.checksum .illustration {    
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    align-items: start;
    width: fit-content;
    max-width: 700px;
    margin: 30px auto 50px auto;
    overflow: hidden;
    text-align: center;
    gap: 100px;
}

.checksum .illustration .sender, .checksum .illustration .receiver {
    position: relative;
}

.checksum .illustration .checksummed-data, .checksum .illustration .received-data, .checksum .illustration .sent-data {
    position: absolute;
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 120px;
    padding: 5px 10px;
    border: 2px solid var(--primary);
    border-radius: 10px;
    opacity: 0;
    background-color: white;
}

.checksum .illustration p {
    font-size: 11px;
}

.checksum .illustration .sent-data {
    top: 50px;
    animation: checksumBox1 8s linear infinite;
}

.checksum .illustration .checksummed-data {
    top: 225px;
    animation: checksumBox2 8s linear infinite;
}

.checksum .illustration .received-data {
    top: 5px;
    animation: checksumBox3 8s linear infinite;
}

.checksum .illustration .line {
    display: block;
    margin: auto;
    width: 4px;
    height: 140px;
    background-color: #D1D1D1;
}

.checksum .illustration .sender-box, .checksum .illustration .receiver-box, .checksum .illustration .checksum-box {
    width: 120px;
    height: 80px;
    display: flex;
    text-align: center;
    border: 2px solid var(--primary);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.check-digit {
    padding: 50px 30px 100px 30px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;;
    justify-content: center;
}

.check-digit .title {
    text-align: center;
}

.check-digit img {
    margin: 20px auto;
    border-radius: 20px;
    border: 2px solid var(--primary);
    width: 80vw;
}

.check-digit .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 800px;
    margin: 50px auto 0px auto;
}

.check-digit .cards .card {
    background-color: var(--cards);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.check-digit .cards .card .number {
    color: var(--primary);
    font-size: clamp(30px, 5vw, 45px);
    margin: 0px 0px -5px 0px;
}

.check-digit .cards .card .content h2 {
    font-size: clamp(18px, 3vw, 23px);
    margin: 0px 0px 10px 0px;
}

.check-digit .cards .card .content p {
    font-size: clamp(12px, 2vw, 15px);
    margin: 0px;
}

.checksum-result {
    width: 100%;
    max-width: 700px;
    padding: 25px 30px;
    background-color: var(--cards);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    text-align: center;
}

.checksum-result h2 {
    margin-top: 0px;
    font-size: clamp(20px, 3.3vw, 27px);
}

.checksum-result p {
    font-size: clamp(12px, 2vw, 15px);
    line-height: 1.6;
}

.checksum-result .comparison {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.checksum-result .comparison .wrong {
    color: var(--error);
}

.checksum-result .result {
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #F1F1F1;
    color: var(--error);
}

.checksum-result .result p {
    margin: 0px;
    font-weight: 600;
}


.arq-simulator {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    text-align: center;
}

.arq-network {
    position: relative;
}

.arq-button {
    padding: 15px 20px;
    font-family: 'Poppins', serif;
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 10px;
    background-color: transparent;
    transition: all 0.2s ease;
    margin: 40px auto;
}

.arq-button:hover {
    color: white;
    background-color: var(--primary);
}

.arq-network .sender, .arq-network .receiver{
    width: 120px;
    height: 60px;
    border: 2px solid var(--primary);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.arq-network .line {
    display: block;
    width: 4px;
    height: 150px;
    background: #D1D1D1;
    margin: auto;
}

.arq-network .data-packet, .arq-network .ack-packet {
    position: absolute;
    display: flex;
    justify-self: center;
    padding: 10px 15px;
    border: 2px solid var(--primary);
    border-radius: 10px;
    opacity: 0;
}

* {
    outline: 2px solid red;
}

.arq-network .data-packet {
    top: 10px;
}

@media (max-width: 800px) {
    .usb-content {
        grid-template-columns: 1fr;
        max-width: 600px;
    }

    .checksum .illustration {
        flex-direction: column;
        align-items: center;
    }
}

footer {
    background-color: var(--footer);
    color: var(--footer-subtext);
    text-align: left;
    padding: 15px 25px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer h2 {
    color: white;
    font-size: clamp(20px, 4vw, 30px);
    font-weight: 600;
    margin-bottom: 10px;
}

footer p {
    font-size: clamp(11px, 2.4vw, 15px);
}

footer .footer-line {
    width: 90%;
    height: 1px;
    background-color: var(--footer-subtext);
    margin: 20px 0px;
}

@keyframes shine {
    0% {
        background-position: -100%;
    }
    100% {
        background-position: 200%;
    }
}

@keyframes dataText {
    0%, 15% {
        opacity: 1;
        visibility: visible;
    }

    20%, 100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes dataPackets {
    0%, 15% {
        opacity: 0;
        visibility: hidden;
    }

    20%, 100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes leftPackage {
    0%, 15% {
        margin: 0px;
    }

    20%, 100% {
        border-radius: 10px;
        margin-right: 20px;
    }

    25% {
        transform: translate(0, 0);
    }

    60%, 100% {
        transform: translateX(-28px) translateY(350px);
    }
}

@keyframes rightPackage {
    0%, 15% {
        margin: 0px;
    }

    20%, 100% {
        border-radius: 10px;
        margin-left: 20px;
    }

    25% {
        transform: translate(0, 0);
    }

    60%, 100% {
        transform: translateX(28px) translateY(350px);
    }
}

@keyframes wrapperPackage {
    0%, 15% {
        border: 1px solid var(--primary);
    }

    20%, 100% {
        border: none;
    }
}


@keyframes branch {
    0%, 64% {
        transform: scaleX(0);
        opacity: 0;
    }

    65% {
        transform: scaleX(0);
        opacity: 1;
    }

    85%, 100% {
        transform: scaleX(1);
        opacity: 1;
    }
}

@keyframes verticalLine {
    0%, 84% {
        transform: scaleY(0);
        opacity: 0;
    } 

    90%, 100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes userFill {
    0%, 90% {
        transform: scaleY(0);
        opacity: 1;
    }

    95%, 100% {
        transform: scaleY(2);
        opacity: 1;
    }
}

@keyframes userText {
    0%, 90% {
        color: black;
    }

    95%, 100% {
        color: white;
    }
}

@keyframes bouncePop {
    0%, 20% {
        opacity: 0;
        transform: scale(0);
        visibility: hidden;
    }

    60% {
        opacity: 1;
        transform: scale(1.05);
        visibility: visible;
    }

    100% {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
    }
}


@keyframes box1 {
    0% {
        transform: translateX(0px);
    }

    0%, 10% {
        opacity: 0;
        visibility: hidden;
    }

    15%, 55% {
        opacity: 1;
        visibility: visible;
    }

    60%, 100% {
        opacity: 0;
        visibility: hidden;
    }

    70% {
        transform: translateX(240px);
    }
}

@keyframes box2 {
    25% {
        transform: translateX(0px);
    }

    0%, 30% {
        opacity: 0;
        visibility: hidden;
    }

    35%, 75% {
        opacity: 1;
        visibility: visible;
    }

    80%, 100% {
        opacity: 0;
        visibility: hidden;
    }

    90% {
        transform: translateX(240px);
    }
}

@keyframes usbBox1 {
    0%, 15% {
        border-color: #D1D1D1;
        transform: scale(1);
    }

    20%, 100% {
        border-color: var(--primary);
        transform: scale(1.04);
        background-color: #D1D1D1;
        color: white;
    }

    25%, 100% {
        transform: scale(1);
        background-color: var(--primary);
    }
}

@keyframes usbBox2 {
    0%, 40% {
        border-color: #D1D1D1;
        transform: scale(1);
    }

    45%, 100% {
        border-color: var(--primary);
        transform: scale(1.04);
        background-color: #D1D1D1;
        color: white;
    }

    50%, 100% {
        transform: scale(1);
        background-color: var(--primary);
    }
}

@keyframes usbBox3 {
    0%, 70% {
        border-color: #D1D1D1;
        transform: scale(1);
    }

    75%, 100% {
        border-color: var(--primary);
        transform: scale(1.04);
        background-color: #D1D1D1;
        color: white;
    }

    80%, 100% {
        transform: scale(1);
        background-color: var(--primary);
    }
}

@keyframes usbLine1 {
    0%, 20% {
        transform: scaleY(0);
    }

    35%, 100% {
        transform: scaleY(1);
    }
}


@keyframes usbLine2 {
    0%, 65% {
        transform: scaleY(0);
    }

    75%, 100% {
        transform: scaleY(1);
    }
}


@keyframes parityError {
    0%, 30% {
        background-color: #E5E7EB;
        color: var(--text);
        transform: scale(1);
    }

    35%, 45% {
        background-color: var(--error);
        color: white;
        transform: scale(1.1);
    }

    50%, 100% {
        background-color: #E5E7EB;
        color: var(--text);
        transform: scale(1);
    }
}

@keyframes echoSend {
    0%, 10% {
        transform: translateX(0px);
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    45%, 50% {
        transform: translateX(450%);
        opacity: 1;
    }

    55%, 100% {
        transform: translateX(450%);
        opacity: 0;
    }
}

@keyframes echoReturn {
    0%, 50% {
        transform: translateX(0px);
        opacity: 0;
    }

    55% {
        opacity: 1;
    }

    90%, 95% {
        transform: translateX(-450%);
        opacity: 1;
    }

    100% {
        transform: translateX(-450%);
        opacity: 0;
    }
}

@keyframes checksumBox1 {
    0%, 20% {
        opacity: 0;
        transform: translateY(0);
    }

    30%, 45% {
        opacity: 1;
    }

    50%, 100% {
        transform: translateY(150px);
        opacity: 0;
    }
}

@keyframes checksumBox2 {
    0%, 25% {
        transform: translateY(0);
    }

    45% {
        opacity: 0;
    }

    50%, 70% {
        opacity: 1;
    }

    75%, 100% {
        transform: translateY(150px);
        opacity: 0;
    }
}

@keyframes checksumBox3 {
    0%, 60% {
        transform: translateY(0);
    }

    70% {
        opacity: 0;
    }

    75%, 95% {
        opacity: 1;
    }

    100% {
        transform: translateY(150px);
        opacity: 0;
    }
}